<h1>About the app</h1>
  <p class="bg-info text-danger">This is a demo app</p>

  <div class="container">
    <div class="row">
      <div class="col bg-primary">
        Column A
        <img src="/images/zipline2019.jpg" class="img-fluid">
      </div>
      <div class="col bg-info">
        Column B
        <p>This is a photo from a zipline in CT</p>
      </div>    
      <div class="col bg-danger">
        Column C
        <img src="" class="img-fluid">
      </div>
    </div>

    <div class="row mt-3">
      <div class="col bg-info">
        Column B
        <p>This is a photo from a zipline in CT</p>
      </div>    
      <div class="col bg-primary">
        Column A
        <img src="/images/zipline2019.jpg" class="img-fluid">
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybB5ZAtv0tS9jJ6vpS00zg/8f/7/AfMoNtJKL1tC3r8r6i/Bo/" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-JnHmGgs8LFw6OU1dGzm1V0/7lF8T9onoxHYOL9OgV2Ad2Rf8zv86Q0c0E0E0R1Jh" crossorigin="anonymous"></script>
